<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to My Site</h1>
        <hr />
    </header>
    <nav>
        <a href="{% url '' %}">Home</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'task' %}">All tasks</a>
        <a href="{% url 'task_form' %}">New Task</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Site</p>
    </footer>
</body>
</html>