{% extends "appone/base.html" %}

{% block title %}Home - My Site{% endblock %}

{% block content %}
    <h2>Homepage !!</h2>
    <p>Welcome to my website !</p>
    {% load static %}
    <img src="{% static 'images/mypic.jpg' %}" width="300px" />

    <table border="1" width="30%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
        </tr>
        {% for student in myList %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.city }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}