{% extends "mainapp/navbar.html" %}

{% block title %}Cập nhật hồ sơ{% endblock title %}

{% block content %}

    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Xóa tài khoản</h1>
        <form method="post">
            {% csrf_token %}
            <h3>Bạn có chắc xóa tài khoản ? </h3>
            <h4 class="text-danger">Không thể phục hồi sau khi xóa !!!</h4>
            <br />
            <button class="btn btn-outline-danger w-100 btn-block p-2"  type="submit">Xóa</button> &nbsp;
            <a href="{% url "dashboard" %}" class="btn btn-outline-primary w-100 btn-block p-2">Quay lại</a>
        </form>
    </div>

{% endblock content %}