{% extends "mainapp/navbar.html" %}

{% block title %}Suy nghĩ của tôi{% endblock title %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Các suy nghĩ của tôi</h1>
        {% for thought in Thoughts %}
            <div class="card bg-secondary mb-3">
                <div class="card-header">{{thought.title}}</div>
                <div class="card-body">
                  <h4 class="card-title">{{thought.content}}</h4>
                  <p class="card-text">{{thought.date_posted|date:"d/m/Y H:i"}}</p>
                  <button type="button" class="btn btn-outline-success"><a href="{% url "update-thought" thought.id %}" style="text-decoration: none;">Thay đổi</a></button> &nbsp;
                  <button type="button" class="btn btn-outline-danger"><a href="{% url "delete-thought" thought.id %}" style="text-decoration: none;">Xóa</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}