{% extends "mainapp/navbar.html" %}

{% block title %}Cập nhật hồ sơ{% endblock title %}

{% block content %}

    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Cập nhật hồ sơ</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br />
            <button class="btn btn-secondary w-100 btn-block p-2"  type="submit">Cập nhật</button>
        </form>
    </div>
    <br />
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Xóa tài khoản</h1>
        <button type="button" class="btn btn-outline-danger"><a href="{% url "delete-account" %}" style="text-decoration: none;">Click để xóa</a></button>
    </div>
{% endblock content %}